extends ../base.pug

block variables
  - var title = meta.title;
  - var description = meta.description;
  - var keywords = meta.keywords;

block content
  //- Content

  canvas(id=canvasId)

  //- Content end
