extends ../base.pug

block variables
  - var title = meta.title;
  - var description = meta.description;
  - var keywords = meta.keywords;

append scripts
  script(src=root+"assets/js/curved-line.bundle.js?RANDOMIZE-ME", defer)


block content
  //- Content

  canvas

  //- Content end
