extends ../base.pug

block variables
  - var title = meta.title;
  - var description = meta.description;
  - var keywords = meta.keywords;
  - var htmlClass = 'template--front';

append styles
  link(href=root+"assets/css/front.bundle.css?CACHE_BUSTING", rel="stylesheet")
  link(href=root+"assets/css/front.bundle-40.css?CACHE_BUSTING", rel="stylesheet", media="(min-width: 40rem)")
  link(href=root+"assets/css/front.bundle-60.css?CACHE_BUSTING", rel="stylesheet", media="(min-width: 60rem)")
  link(href=root+"assets/css/front.bundle-80.css?CACHE_BUSTING", rel="stylesheet", media="(min-width: 80rem)")


block content
  //- Content
  include ../modules/header.pug

  main.main
    ul
      li
        a(href="./animated-background-1") Animated background 1

      li
        a(href="./curved-line") Curved line

  include ../modules/footer.pug

  //- Content end
